* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.LoginBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: whitesmoke;
    width: 100%;
}

.loginForm form {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.loginForm form input {
    width: 95%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 36px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0px 9px 0px -7px #918074;

}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.buttons button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    background-color: #918074;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 15px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 8px 8px 15px #b3b3b3,
        -8px -8px 15px #ffffff;
}

.buttons button:hover {
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
    outline: none;
    box-shadow: 4px 4px 15px #b3b3b3,
        -4px -4px 15px #ffffff;
}

.formInput {
    width: 98%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formInput input:focus {
    outline: none;
    box-shadow: 0px 0px 0px -7px #918074;
    transition: all 0.5s linear;
}

.do_not_register {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* //registerBox */
.registerBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background-color: whitesmoke;
    width: 100%;
}

.image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    background-color: rgb(71 167 203 / 13%);
    overflow: hidden;

}

.register {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.continue {
    padding: 7px;
    border-radius: 7px;
    border: 0;
    background-color: #1085c9;
    cursor: pointer;
    font-weight: bold;
    width: 54%;
    color: white;
    font-size: 20px;
    margin-bottom: 5%;
}

.continue:hover {
    transition: all 0.5s ease-in-out;
    outline: none;
    background-color: #0956b5;
    box-shadow: 0px 0px 0px -7px #918074;
}

.register form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.register form input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 9px;
    width: 78%;
    margin-bottom: 6%;
    font-size: 20px;
}

.register h1 {
    margin-bottom: 10%;
    width: 100%;
    text-align: center;
}

.Next_inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.name {
    width: 100%;
}

#name {
    width: 88%;
}

.otherfields {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.passwordSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#password {
    width: 88%;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* home page */
.homePage {
    display: flex;
    width: 98%;
    height: 95%;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px -1px #755a5a;
    border-radius: 5px;
}

.sidenav {
    background-color: rgb(218, 214, 214);
    /* position: absolute; */
    width: 7%;
    height: 100%;
}

.sidenav nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2%;
}

.firstSection ul li,
.secondSection ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 31px;
    margin-bottom: 6px;
    padding: 8px;
    list-style: none;
    border: 0;
    border-radius: 5px;

}

li {
    list-style: none !important;
}

li:hover {
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: #bdd6be;
}

.homebox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #a3a1a1d1 70%, #71e671b3 70%);
}

/* desiging chats */
.chats,
.setting,
.profile,
.friendsRequest {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: white;
    width: 40%;
}

.chatheading,
.FriendsHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 18px 18px;
}

.chatheading h4 {
    font-weight: bold;
}

.chatheading span {
    font-weight: bold;
    font-size: 24px;
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    border: 0;
    border-radius: 8px;
    padding: 0 13px;
    background: #d9d3d3;
    box-shadow: 0px 10px 20px -18px;
}

.search input {
    width: 90%;
    border: 0;
    background: #d9d3d3;
    padding: 9px;
    border-radius: 0px;
}

.search input:focus {
    outline: none;
}

.friends {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 18px 7px;
    margin-top: 8%;
    height: 100%;
}

.freindsChat {
    display: flex;
    align-items: center;
    height: 14%;
    border-top: 1px solid gray;
    padding: 8px 4px;
    border-radius: 5px;
}

.freindsChat:hover {
    cursor: pointer;
    background-color: #d0cccc;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.DP {
    width: 13%;
    height: 95%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #0956b5;
}

.Chatname {
    margin: 0 22px;
    height: 100%;
    width: 59%;
}

.chatbox {
    width: 100%;
    background-color: whitesmoke;
}

.messagerInfo {
    display: flex;
    align-items: center;
    background: #d9d3d3;
    height: 9%;
    padding: 4px 13px;
}

.messageBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mDP {
    width: 6%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #0956b5;
}

.messangerName {
    margin: 0 22px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
}

.More {
    font-size: 21px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 10%;
    justify-content: space-around;
}

.More:only-child:hover {
    cursor: pointer;
}

.messageArea {
    background-color: #e4e2e2;
    ;
    width: 100%;
    height: 81%;
}

.Messagewriting {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4px;
    background-color: #b7d7d39f;
}

.Messagewriting input {
    height: 67%;
    padding: 17px;
    width: 91%;
    border: 0;
    border-radius: 6px;
}

.send {
    font-size: 32px;
    display: flex;
    align-items: center;
    margin: 0 16px;
}

.send:hover {
    cursor: pointer;
}


/* necessary */
.active {
    background-color: #bdd6be;
}

.defualtimg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    height: 100%;
}

.message {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 60%;
    word-wrap: break-word;
}

.message.sent {
    align-self: flex-end;
    background-color: #daf8cb;
    /* Light green for sent messages */
    text-align: right;
}

.message.received {
    align-self: flex-start;
    background-color: #f1f0f0;
    /* Light grey for received messages */
    text-align: left;
}

.messageArea {
    overflow-y: scroll;
}

.messageArea::-webkit-scrollbar {
    width: 100px;
}

/* freinds section */

.Status {
    margin-top: 7%;
    background-color: rgb(218, 214, 214);
    width: 100%;
    padding: 9px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Status button {
    border: 0;
    margin-right: 11px;
    padding: 7px;
    border-radius: 15px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 1px 1px 20px #bebebe, -2px -2px 20px #fff;
    font-weight: 500;
    font-size: 14px;
}

.Status button:hover {
    transition: all 0.5s linear;
    cursor: pointer;
    background: linear-gradient(145deg, #d9dfc7, #cacaca);
    transform: scale(0.9);
}

.friendlist {
    width: 100%;
    height: 100%;
}

.AddedFriend {
    width: 100%;
    height: 100%;
}

.AddedFriend li {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    box-shadow: 2px 0px 3px -1px black;
}

.AddedFriend li:hover {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    background: rgb(235, 233, 233);
    box-shadow: 2px 0px 3px -1px black;
}

.searchResult {
    width: 100%;
    overflow: hidden;
    height: 9%;
    z-index: 1;
    margin-top: 12px;
}

.searchResult li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 4px 1px;
}

.searchResult li:hover {
    background: none;
}

.searchResult li button {
    border: 1px solid;
    padding: 6px;
    border-radius: 50%;
    width: 8%;
    background: transparent;
    box-shadow: 1px 1px 10px -1px black inset, -1px -1px 10px -1px rgb(115, 115, 115) inset;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchResult li button:hover{
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    background: rgb(235, 233, 233);
    box-shadow: 1px 1px 10px -1px black inset , 
               -1px -1px 10px -1px rgb(115, 115, 115) inset;
    transform: scale(0.9);
}